*.DS_Store
*.xcf
*.bak

.c9revisions/
node_modules
build/
albert.png
hunk.png
women.png
assets/sprites/*.sh
assets/sprites/source
assets/sprites/pre
assets/tiles/pre
bsp.js
component.js
components
config.js
donjon.pl
dungeongenerator.js
engine.js
entity.js
game.js
gamestate.js
images
input.js
lib
main.js
observable.js
physics.js
renderer.js
spritesheet.js
vendor
