<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Editor Prototype for DreddRL"/>
    <link href="editor.css" rel="stylesheet" type="text/css"/>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

    <link href="css/codemirror.css" rel="stylesheet" type="text/css"/>
    <link href="css/rainbow.css" rel="stylesheet" type="text/css"/>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/bootbox.js"></script>
    <script src="js/codemirror.js"></script>
    <script src="js/rainbow-custom.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>
    <script src="js/ui-codemirror.js"></script>
    


    <meta charset=utf-8/>
    <title>JS Bin</title>
  </head>
  <body ng-app="editor"  ng-controller="AppController">
    <button ng-click="createQuest()">New Quest</button>
    <tabset>
      <tab ng-repeat="quest in Package.quests" heading="{{ quest.name}}">
        <div ng-controller="QuestController">
          <div class="control-group">
             <label class="control-label" for="questEnable">Enable</label>
                  <div class="control">
                    <input type="checkbox" ng-model="quest.enable" id="questEnable"/>
                  </div>
            <label class="control-label" for="questName" >Quest Name</label>
            <div class="controls">
              <input type="text" id="questName" placeholder="Quest Name" ng-model="quest.name">
            </div>
          </div>
          <button ng-click="saveQuest(quest)">Save</button>
          <tabset>
            <tab heading="Rooms">
              <button ng-click="createRoom(quest)">Add Room</button>
              <div ng-repeat="room in quest.rooms">
                <div class="control-group">
                  <label class="control-label" for="roomName" >Room Name</label>
                  <div class="controls">
                    <input type="text" id="roomName" placeholder="Room Name" ng-model="room.name">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="roomName" >Closed</label>
                  <div class="controls">
                    <input type="checkbox" ng-model="room.closed">
                  </div>
                </div>
                <div class="control-group" >
                  <label class="control-label" for="roomName" >Locked</label>
                  <div class="controls">
                    <input type="checkbox" ng-disabled="!room.closed" ng-model="room.locked">
                  </div>
                </div>
              <button ng-click="spawnEntity(quest, room)">Spawn Entity</button>
              <div>
                <div ng-repeat="entity in room.entities">
                  {{ entity }} <button ng-click="removeEntityFromRoom(room, entity)">Remove</button>
                </div>
              </div>
              </div>
            </tab>
            <tab heading="Entities">
              <div ng-include="'templates/entityform.html'"></div>
            </tab>
            <tab heading="Items">
              <div ng-include="'templates/itemform.html'"></div>
            </tab>
            <tab heading="Steps">
              <div>
              <button ng-click="addStep(quest)">Add Step</button>
              <tabset>
                <tab ng-repeat="step in quest.steps" heading="Step {{step.number}}">
                <div ng-controller="StepCtrl">
                  <div class="control-header">
                    <div class="control-topic">
                      <label class="control-label" for="entityName" >Number</label>
                      <input type="number" ng-model="step.number" />
                    </div>
                    <div class="button-group">
                      <button class="btn btn-primary" ng-click="addStepDialog(quest, step)">Add Dialog</button>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Start Step:</label>
                    <pre class="codeEditor" data-language="javascipt" ng-show="!showEditor" ng-click="showEditor=true">
//This is called when step is started.
{{step.code}}
                    </pre>
                    <div ng-show="showEditor">
                      <textarea ui-codemirror="codeMirrorOptions" ui-refresh="showEditor" ng-model="step.code" id="stepCode">
                        
                      </textarea>
                      <button class="btn btn-primary" ng-click="showEditor=false">Done</button>
                    </div>
                  </div>
                  <div ng-show="step.dialog">
                    <h3 ng-show="data.entity"> {{ data.entity }}</h3>
                    <ul ng-controller="DialogController" class="dialog-tree" ng-init="init(step.dialog)">
                          <li ng-repeat="node in step.dialog" class="dialog-node" ng-include="'templates/dialognode.html'"></li>
                    </ul>
                  </div>
                  <input type="checkbox" ng-model="cmRefresh"></input>
                  
                  </div>
                </tab>
              </tabset>
              </div>
            </tab>
          </tabset>
        </div>
      </tab>
      <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
        {{tab.content}}
      </tab>
    </tabset>
    <script src="editor.js"></script>
  </body>
</html>