<div>
  <span ng-repeat="data in action" class="drl-action-container">
  	<span ng-switch on="getDataType(action, $index)" class="drl-action-arg">
  		<div ng-switch-when="actionlist" class="drl-action-child-container">
  			<h5>{{ getDataMeta(action, $index).name }}<button ng-click"addAction(action)">+</button></h5>
  			<ul class="drl-action-list">
  				<li ng-repeat="action in data">
  					<button ng-click="removeAction(encounter, data, $index)">Remove</button>
            <button ng-click="editAction(encounter, data, $index)">Edit</button>
  					<span  ng-include="'/templates/action.html'" />
  				</li>
  			</ul>
  		</div>
	  	<span ng-switch-when="expr" class="drl-expr">`{{ data }}`</span>
	  	<span ng-switch-when="actiontype" class="drl-action-type">
        {{ data }} 
      </span>
	  	<span ng-switch-default>
        {{ data }} 
      </span>
	</span>
  </span>
</div>