<tabs>
      
      <!-- Encounters Editor -->

      <pane title="Encounters">
        <div class="drl-encounter-list" ng-controller="EncounterCtrl">
          <button ng-click="save()" ng-show="_debug">Save</button>
          <button ng-click="createEncounter()">Create Encounter</button>
          <tabs>
            <pane title="{{encounter.name}}" ng-repeat="encounter in encounters" class="drl-encounter-container">
              <h3>{{encounter.name}}</h3>
              <p>Enabled: <input type="checkbox" ng-model="encounter.enabled"/></p>
              <ul>
                <li>
                  <label>Name:</label>
                  <input type="text" name="name" value="item" ng-model="encounter.name" />
                </li>
                <li>
                  <label>Steps:</label>
                  <input type="number" ng-model="encounter.steps" />
                </li>
                <li>
                  <label>Description:</label>
                  <textarea name="description" ng-model="encounter.description" /></textarea>
                </li>
              </ul>
              
              <h3>Items<button ng-click="addItem(encounter)">+</button></h3>
              <li ng-repeat="item in encounter.items" class="drl-item-container">
                <h3>{{item.name}}({{item.id}})</h3>
                <div class="drl-item-preview-container">
                  <img src="/assets/sprites/scifi_icons_1.png" class="drl-item-preview" ng-style="{left: item.previewLeft + 'px', top: item.previewTop + 'px', position: relative, display: block}"/>
                </div>
                <p>{{item.description}}</p>
                <p>Immediate<input type="checkbox" ng-model="item.immediate"/></p>
                <h4>Effects<button ng-click="newItemEffect(encounter, item)">+</button></h4>
                <div class="drl-item-effect-container"> 
                  <div ng-repeat="action in item.effect">
                    <button ng-click="removeAction(encounter, item.effect, $index)">Remove</button>
                    <button ng-click="editAction(encounter, item.effect, $index)">Edit</button>
                    <div ng-include="'/templates/action.html'"/>
                  </div>
                </div>
            </li>

              <h3>Rooms<a href="#" ng-click="addRoom(encounter)">+</a></h3>
              <ul>
                <li ng-repeat="(name, room) in encounter.rooms">
                  <h4>{{name}}<button ng-click="removeRoom(encounter, name)">Delete [{{name}}]</button></h4>
                  <ul>
                    <li>
                      <label>Name:</label>
                      <input type="text" ng-model="name" />
                    </li>
                    <li>
                      <label>Locked:</label>
                      <input type="checkbox" ng-model="room.locked" />
                    </li>
                    <li>
                      <label>Key:</label>
                      <input type="text" ng-list ng-model="room.key" />
                    </li>
                    <li>
                      <label>Spawn:</label>
                      <input type="text" ng-list ng-model="room.spawn" />
                    </li>
                  </ul>
                </li>
              </ul>

              <h3>Entities<a href="#" ng-click="addEntity(encounter)">+</a></h3>
              <ul>
                <li ng-repeat="(name, entity) in encounter.entities">
                  <label>Name:</label>
                  <input type="text" ng-model="name" />
                  <button ng-click="addComponent(entity)">Add Component</button>
                  <button ng-click="removeEntity(encounter, name)">Delete</button>
                  <ul>
                    <li ng-repeat="(compName, comp) in entity">
                      <label>{{compName}}:</label>
                      <button ng-click="editComponent(encounter,entity,compName)">Edit [{{ compName }}]</button>
                      <ul>
                        <li ng-repeat="(key, value) in comp">
                    
                          <div >
                            {{ key }} - {{ value }}
                          </div>
                              
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>

            </pane>
          </tabs>

          <createactionform id="drl-encounter-create-action-form"/>
          <createentityform />
          <createcompform />
          <editcompform class="hidden" ng-include="templateUrl"/>
          <createitemform />

        </div>
      </pane>

      <!-- Items Editor -->

      <pane title="Items">
        <div class="drl-item-list"  ng-controller="ItemCtrl">
          <ul>
            <li ng-repeat="item in items" class="drl-item-container">
              <h3>{{item.name}}</h3>
              <div class="drl-item-preview-container">
                <img src="/assets/sprites/scifi_icons_1.png" class="drl-item-preview" ng-style="{left: item.previewLeft + 'px', top: item.previewTop + 'px', position: relative, display: block}"/>
              </div>
              <p>{{item.description}}</p>
              <p>Immediate<input type="checkbox" ng-model="item.immediate"/></p>
              <h4>Effects<button ng-click="addActionCallback(item)">+</button></h4>
              <div class="drl-item-effect-container"> 
                <div ng-repeat="action in item.effect">
                  <button ng-click="removeAction(encounter, item.effect, $index)">Remove</button>
                  <button ng-click="editAction(encounter, item.effect, $index)">Edit</button>
                  <div ng-include="'/templates/action.html'"/>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <createactionform id="drl-item-create-action-form"/>
        <div class="item-create-form" />
          <form ng-submit="createItem()" ng-controller="ItemCtrl">
            <ul>
              <li>
                <label>Name:</label>
                <input type="text" name="name" value="item" ng-model="newItem.name" />
              </li>
              <li>
                <label>Description:</label>
                <input type="text" name="description" value="" ng-model="newItem.description"/>
              </li>
              <li>
                <label>SpriteSheet:</label>
                <input type="text" name="spritesheet" value="scifi_icons_1.png" ng-model="newItem.spriteImage"/>
              </li>
              <li>
                <label>Frame:</label>
                <input type="number" name="frame" value="1" ng-change="updateNewItemPreview()" ng-model="newItem.spriteFrame"/>
              </li>
              <li>
                <label>Preview:</label>
                <div class="drl-item-preview-container">
                  <img src="/assets/sprites/scifi_icons_1.png" class="drl-item-preview" ng-style="{left: newItem.previewLeft + 'px', top: newItem.previewTop + 'px', position: relative, display: block}"/>
                </div>
              </li>
            </ul>
            <input type="submit" value="Create Item" />
          </form>
        </div>
      </pane> 
    </tabs>