<div class="popup">
  <div class="drl-component-edit-form">
      <button ng-click="addActionList()">Add Action</button>
      <tabs>
        <pane ng-repeat="argData in newCompData" title="{{ argData.name}}">  
          <div>
            <h3>Action: {{ argData.name }}<button ng-click="newAction(saveObject, argData.value)">+</button></h3>
            <div ng-repeat="action in argData.value">
              <button ng-click="removeAction(saveObject, argData.value, $index)">Remove</button>
              <button ng-click="editAction(saveObject, argData.value, $index)">Edit</button>
              <div ng-include="'/templates/action.html'"/>
            </div>
          </div>  
  	    </pane>
      </tabs>
      <button ng-click="updateComponent(newComp)">Update Component</button>
  </div>
</div>