<div class="drl-component-edit-form popup">
    <ul>
      <li ng-repeat="argData in newCompData">
	      <div ng-switch on="hasCompMeta(compName)" >
	        <div ng-switch-when="true">
	          <label>{{ argData.name }}:</label>
	          <span ng-switch on="getCompDataType(compName, argData.name)">
	            <span ng-switch-when="list">
	              <input type="string" ng-list ng-model="argData.value" />
	            </span>
	            <div ng-switch-when="actionlist">
	              <h3>Action: {{ argData.name }}<button ng-click="newAction(saveObject,argData.value)">+</button></h3>
	              <div ng-repeat="action in argData.value">
	                <button ng-click="removeAction(saveObject, argData.value, $index)">Remove</button>
	                <button ng-click="editAction(saveObject, argData.value, $index)">Edit</button>
	                <div ng-include="'/templates/action.html'"/>
	              </div>
	            </div>
	            <span ng-switch-when="checkbox">
	              <input type="checkbox" ng-checked="argData.value" ng-model="argData.value" />
	            </span>
	            <span ng-switch-default>
	              <input type="text" ng-model="argData.value" />{{argData.value}}
	            </span>
	          </span>
	        </div>
	        <div ng-switch-default> 
	            <div>
	              WARNING!!! {{ argData.name }} - {{ argData.value }}
	            </div>
	        </div>
	      </div>
	    </li>
    </ul>
    {{saveObject}}
    <button ng-click="updateComponent(newComp)">Update Component</button>
</div>