/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  /*
  src: local('VT323'), local('VT323-Regular'), url(http://themes.googleusercontent.com/static/fonts/vt323/v4/SSPdB6sO_7a9ZMMiCroIGqCWcynf_cDxXwCLxiixG1c.woff) format('woff');
  */
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'VT323', cursive; 
    overflow: hidden;
}


#game {
    margin: 0px;
    position: relative;
    float: left;
    background: black;
    cursor:none;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#game.fullscreen {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
}

#game canvas, #tilesheet canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#tilesheet {
    width: 640px;
    height: 480px;
    border: 1px solid black;
    margin: 16px;
    position: relative;
    overflow: scroll;
    float: left;
}

.window {
    display: block;
    position: relative;
    margin: 1em;
    padding: 0.5em;
    z-index: 100;
    width: 240px;
    background: rgba(0,0,0,0.6);
    color: white;
    border-radius: 0.5em;
}

.gamestatescreen {
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.35);
    z-index:50;
}

.mainmenuscreen,.gamewinscreen,.gameoverscreen {
    background: black;
}

.gamestatescreen h1 {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 96px
}

.gamestatescreen p {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 24px  
}

.loadscreen {
    background: black;
}
 
.loadscreen img.loader {;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
}

.window table td {
    padding-left: 0.25em;
}

.window table td.action, .window table td.label{
    color: orange;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.dialogbox {
    width: 80%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    background: black;
    padding: 1em;
    top: 66%;
    position: relative;
    height: 20%;
}

.accent {
    color: orange;
}

ul.log {
    height: 4em;
    overflow-y: scroll;
    padding: 0px;
}

ul.log li {
    border-top: 1px solid black;
    margin: 0px;
    width: 100%;
    list-style-type: none;
}

ul.log li p {
    margin: 0px
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}