.dialog-node {
    display: block;
    margin:16px;
    padding:0px;
    background:white;
}
.dialog-tree {
    display:block;
}

.dialog-hover:hover{
	background: #7BA7BB;
}

.dialog-node .dialog-group .dialog-label {
    display: inline-block;
    float: left;
    width: 3.5em;
    padding: 0.25em;
}

.dialog-node .dialog-group .dialog-input {
    width: 90%;
    margin-bottom:0px;
    display: inline-block:
    margin-left: 4em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.dialog-group {
    margin: 8px;
    border-radius: 4px;
    background: #cccccc;
    padding: 8px;
}

.control-header {
    border: 1px solid #555555;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
}

.control-topic, .dialog-topic, .dialog-header h3 {
    display: inline-block;
}

.button-group {
    float:right;
    clear:right;
    margin:15px;
    display: inline-block;
}

.editor-icon-preview-container {
    width: 48px;
    height: 48px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
}

.editor-icon-preview-container img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 768px;
    height: 576px;
    max-width: none;
}

.codeEditor {
    width: 100%;
    display: block;
    min-height: 2em;
}