.popup {
	overflow: scroll;
	background: white;
	width: 640px;
	height: 480px;
	padding: 2em;
	margin: auto;
	border-radius: 1em;
	border: 1em solid skyblue;
}

.hidden {
	display: none;
}

.tab-pane {
	display: none;
}

.tab-pane.active {
	display: block;
}

.drl-item-list ul {
	padding: 0px;
}

.drl-item-container {
	border: 1px solid black;
	width: 320px;
	padding: 0.5em;
	list-style: none;
}

.drl-item-container h3 {
	padding: 0px;
	margin: 0px
}

.drl-item-container .drl-item-preview-container {
	float: right;
}

.drl-item-preview-container {
	width: 23px;
	height: 23px;
	overflow: hidden;
}

.drl-item-preview {
	top: 0px;
	left: 0px;
	position: relative;
	display: block;

}

.drl-item-effect-list, .drl-action-list {
	list-style: none
}

.drl-item-effect-container {
	padding-left: 1em;
}


.drl-action-list li {
	padding: 0.25;
}

.drl-action-child-container {
	padding-left: 1em;
}

.drl-action-type {
	padding: 0.25em;
	background: black;
	color: white;
	width: 16em;
}

.drl-action-arg {
	padding: 0.25em;
}

